section.main {
    float: left;
    width: 65%;
    font-size: 16px;
    line-height: 1.4;
    border: 1px solid;
    height: 300px;
}

@media screen and (max-width: 800px){
    section.main{
        float: none;
        width: auto;
    }
}